xPLHal2/trunk/ScriptEngine/Service References/WCFDebugService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8731/xPLHalDebugger/WCFDebugService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/xPLHalDebugger" />
  <xs:element name="SetDebugScriptInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/xPLHalDebugger" minOccurs="0" name="info" nillable="true" type="q1:DebugScriptInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDebugScriptInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/xPLHalDebugger" minOccurs="0" name="info" nillable="true" type="q2:DebugScriptInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>