xPLHal2/trunk/ScriptEngine/Service References/WCFDebugService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/xPLHalDebugger" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/xPLHalDebugger" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8731/xPLHalDebugger/WCFDebugService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:complexType name="DebugScriptInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="GlobalScriptSource" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="HalIPAddress" nillable="true" type="q1:IPAddress" />
      <xs:element minOccurs="0" name="ScriptName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xPLMessageString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DebugScriptInfo" nillable="true" type="tns:DebugScriptInfo" />
</xs:schema>